<div class="pages-wrap" style="opacity: 0;overflow: hidden;" [@visibilityChanged]="fadeIn ? 'shown' : 'hidden'">
    <pages-top [pagInfo]=true [chapterId]="selectedItem.courseId"></pages-top>
    <div class="pages-body pages-body-reading">
        <sidebar class="sidebar-reading" [menuInfo]="PAGES_Sub_MENU" [style.height]="Divheight"></sidebar>
        <div class="pages-content" [style.width]="DivWidth">
            <content-top></content-top>
            <div>
                <div>
                    <h2 class="subchapter-title">{{selectedItem.subChapterTitle}}</h2>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="editor-view-text view-element" [innerHTML]="selectedItem.chapterTxt"></div>
                    </div>
                    <ng-container *ngIf="fileType!=0 && selectedItem.FilePath && selectedItem.FilePath!=''">
                        <div *ngIf="fileType==1" class="view-element">
                            <vg-player>
                                <vg-controls>
                                    <vg-play-pause></vg-play-pause>
                                    <vg-playback-button></vg-playback-button>

                                    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                                    <vg-scrub-bar>
                                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                                    </vg-scrub-bar>

                                    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                                    <vg-mute></vg-mute>
                                    <vg-volume></vg-volume>

                                    <vg-fullscreen></vg-fullscreen>
                                </vg-controls>
                                <video #videoPlayer class="video-player" [vgMedia]=" videoPlayer" preload="auto">
                                    <source src="{{_globals.WebURL}}/{{selectedItem.FilePath}}" />
                                </video>
                            </vg-player>
                        </div>
                        <audio *ngIf="fileType==2" autoplay controls (click)="toggleAudioVideo(audioPlayer)"
                            #audioPlayer style="width: 100%;min-width: 300px;">
                            <source src="{{_globals.WebURL}}/{{selectedItem.FilePath}}" />
                        </audio>
                        <div *ngIf="fileType==3" class="displatTxtCls subchapter-text">
                            <iframe *ngIf="pdfSrc" [src]="pdfSrc | safe" style="width: 100%;height: 90vh;"></iframe>
                        </div>
                        <div *ngIf="fileType==4" class="view-element">
                            <img class="image" src="{{_globals.WebURL}}/{{selectedItem.FilePath}}" />
                        </div>
                        <div *ngIf="selectedItem.isDownloadable" class="displatTxtCls subchapter-text"
                            style="text-align: center;">
                            <button mat-stroked-button (click)="downloadFile()">
                                <mat-icon>download</mat-icon>{{'chapter.DownloadAtt' | translate}}
                            </button>
                            <!-- <iframe *ngIf="pdfSrc" [src]="pdfSrc | safe" style="width: 100%;height: 90vh;"></iframe> -->
                        </div>
                    </ng-container>
                </div>
                <div class="clearfix"></div>
                <div style="height: 95px;text-align: center;">
                    <button mat-stroked-button class="nav-button" *ngIf="backSubChapId!=0"
                        (click)="BackSubChap()">{{'question.Back' |
                        translate}}</button>
                    <button mat-stroked-button class="nav-button"
                        *ngIf="(nextSubChapId!=0 && !isExam) || selectedItem.QusCount == 0"
                        (click)="NextSubChap()">{{'question.Next' | translate}}</button>
                    <button mat-stroked-button class="nav-button"
                        *ngIf="(isExam || nextSubChapId==0) && selectedItem.QusCount &gt;  0 "
                        (click)="ExamChapter()">{{'course.Exam' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>