<form [formGroup]="ChapterForm">
    <div class="form-group">
        <textarea rows="4" cols="50" class="form-control" formControlName="ChapterName"
            placeholder="{{'chapter.Name' | translate}}"></textarea>
    </div>
    <!-- <div class="form-group">
        <select class="form-control" placeholder="course" formControlName="course" >
                <option value="" disabled selected>{{'chapter.SelCourse' | translate}}</option>
                <option *ngFor="let Course of Courses;" value="{{Course.courseId}}" >{{Course.courseName}}</option>
        </select>
    </div> -->
    <!-- <div class="form-group">
        <mat-checkbox formControlName="isOffline" style="color: #000;"><span
                style="color: black;">{{'chapter.Offline' | translate}}</span></mat-checkbox>
    </div> -->

    <div formArrayName="SubModel">
        <div *ngIf="ChapterForm.controls['isOffline'].value">
            <div style="margin-bottom: 10px;">
                <a href="javascript:void(0)" class="hyberLinkCls">
                    <span (click)="addModel()">{{'chapter.AddSubChapter' | translate}}</span>
                </a>
            </div>
            <div *ngFor="let add of ChapterForm.controls['SubModel']['controls']; let j=index" [formGroupName]="j"
                style="border: 1px solid #d3d3d3;">
                <a (click)="removeModel(i)"
                    style="position: relative;float: right;top: 10px;right: 10px;font-size: 20px;z-index: 100;"
                    href="javascript:void(0)">
                    <i class="fa  fa-trash"></i>
                </a>
                <div class="form-group col-md-12" style="padding-top: 45px;">
                    <input type="text" class="form-control" formControlName="subChapterTitle"
                        placeholder="{{'chapter.SubName' | translate}}">
                </div>
                <!-- <div class="form-group col-md-12">
                    <select class="form-control" placeholder="course" formControlName="trainerId">
                        <option value="" disabled selected>{{'chapter.SelTrainer' | translate}}</option>
                        <option *ngFor="let trainer of trainerList;" value="{{trainer.trainerId}}">{{trainer.FIRSTNAME}}
                            {{trainer.LASTNAME}}</option>
                    </select>
                </div> -->
                <div class="form-group col-md-12">
                    <input matInput [min]="minDate" [matDatepicker]="picker" formControlName="coursedateTime"
                        placeholder="{{'chapter.ChooseDate' | translate}}">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" formControlName="placeName"
                        placeholder="{{'chapter.EnterPlace' | translate}}">
                </div>
                <div class="24hr-example col-md-12" style="margin-bottom: 10px;">
                    <input style="cursor: pointer;" placeholder="{{'chapter.ClassStartTime' | translate}}"
                        formControlName="startTime" aria-label="24hr format" [ngxTimepicker]="fullTime" [format]="24"
                        readonly>
                    <ngx-material-timepicker #fullTime></ngx-material-timepicker>
                </div>
                <div class="24hr-example col-md-12" style="margin-bottom: 10px;">
                    <input style="cursor: pointer;" placeholder="{{'chapter.ClassEndTime' | translate}}"
                        formControlName="endTime" aria-label="24hr format" [ngxTimepicker]="fullTime1" [format]="24"
                        readonly>
                    <ngx-material-timepicker #fullTime1></ngx-material-timepicker>
                </div>
                <div class="24hr-example col-md-12" style="margin-bottom: 10px;">
                    <input style="cursor: pointer;" placeholder="{{'chapter.ConfirmStartTime' | translate}}"
                        formControlName="confirmationStart" aria-label="24hr format" [ngxTimepicker]="fullTime2"
                        [format]="24" readonly>
                    <ngx-material-timepicker #fullTime2></ngx-material-timepicker>
                </div>
                <div class="24hr-example col-md-12" style="margin-bottom: 10px;">
                    <input style="cursor: pointer;" placeholder="{{'chapter.ConfirmEndTime' | translate}}"
                        formControlName="confirmationEnd" aria-label="24hr format" [ngxTimepicker]="fullTime3"
                        [format]="24" readonly>
                    <ngx-material-timepicker #fullTime3></ngx-material-timepicker>
                </div>
            </div>
        </div>
    </div>

    <div formArrayName="SubChapter">
        <div *ngIf="!ChapterForm.controls['isOffline'].value">
            <div style="margin-bottom: 10px;">
                <a href="javascript:void(0)" class="hyberLinkCls">
                    <span (click)="addChapter()">{{'chapter.AddSubChapter' | translate}}</span>
                </a>
            </div>
            <div *ngFor="let add of ChapterForm.controls['SubChapter']['controls']; let i=index" [formGroupName]="i"
                style="border: 1px solid #d3d3d3;">
                <div class="form-group" style="background: #d3d3d3;">
                    <div class="input-demo radio-demo row" style="margin-left: 3px;">
                        <div class="col-md-3">
                            <label class="radio-inline container nowrap"
                                style="color: #000;margin-bottom: 6px;margin-top: 6px;cursor: pointer;">
                                <input type="radio" formControlName="isVideo" value="1"
                                    [attr.disabled]="add.value.FilePath">
                                <span class="checkmark"></span>
                                <span>{{'chapter.Video' | translate}}</span>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label class="radio-inline container nowrap"
                                style="color: #000;margin-bottom: 6px;margin-top: 6px;cursor: pointer;">

                                <input type="radio" formControlName="isVideo" value="2"
                                    [attr.disabled]="add.value.FilePath">
                                <span class="checkmark"></span>
                                <span>{{'chapter.Audio' | translate}}</span>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label class="radio-inline container nowrap"
                                style="color: #000;margin-bottom: 6px;margin-top: 6px;cursor: pointer;">

                                <input type="radio" formControlName="isVideo" value="3"
                                    [attr.disabled]="add.value.FilePath">
                                <span class="checkmark"></span>
                                <span>{{'chapter.Text' | translate}}</span>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <a class="ng2-smart-action ng2-smart-action-delete-delete" (click)="removeChapter(i)"
                                style="font-size: 20px;margin-right: 10px;padding: 5px;float: right;"
                                href="javascript:void(0)">
                                <i class="fa  fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" formControlName="subChapterTitle"
                        placeholder="{{'chapter.SubName' | translate}}">
                </div>
                <div *ngIf="add.value.isVideo==3">
                    <div class="col-md-12 form-group">
                        <textarea rows="10" formControlName="ChapterTxt"
                            placeholder="{{'chapter.TextArea' | translate}}" class="form-control"></textarea>
                    </div>
                    <mat-card>
                        <mat-card-header>{{'chapter.FileUpload' | translate}}</mat-card-header>
                        <mat-card-content>
                            <ba-file-uploader class="Videofile" [FileuploadInput]="fileUploaderOptions" [isPdf]="true"
                                [translate]="translate" (onUploadCompleted)="imgUpload($event,add)"
                                (onUpload)="disableButton()" [fileTitle]="add.value.FilePath" [picture]="profile"
                                [defaultPicture]="defaultPicture"></ba-file-uploader>

                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="form-group" *ngIf="add.value.isVideo!=3">
                    <div class="col-md-12">
                        <span *ngIf="add.value.FilePath!=''" name="logo-youtube"
                            (click)="playVideo(add.value,content)"></span>
                        <mat-card>
                            <mat-card-header>{{'chapter.FileUpload' | translate}}</mat-card-header>
                            <mat-card-content>
                                <ba-file-uploader class="Videofile" [FileuploadInput]="fileUploaderOptions"
                                    [isAudioOrVideo]="true" [translate]="translate"
                                    (onUploadCompleted)="imgUpload($event,add)" (onUpload)="disableButton()"
                                    [fileTitle]="add.value.FilePath" [picture]="profile"
                                    [defaultPicture]="defaultPicture"></ba-file-uploader>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button [disabled]="!ChapterForm.valid || DisableButton > 0" *ngIf="isButtonActive.length == 0"
        style="float: right;margin-right: 20px" (click)="saveChapterData()" type="button"
        class="btn btn-success">{{'confirm' | translate}}</button>
    <button [disabled]="DisableButton > 0" style="float: right;margin-right: 10px" (click)="cancel()" type="button"
        class="btn btn-success">{{'cancel' | translate}}</button>

</form>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

    </div>

</ng-template>