table {
  width: 100%;
}

.group-row {
  opacity: 0.7;
}
  
.group-row:hover {
  opacity: 1;
}

.clickable {
  cursor: pointer;
}
// p-table styling
.width-3 {
  width : 3rem;
}

.width-7 {
  width : 7rem;
}