<!-- <div *ngIf="courseData$ | async as courseData"> -->
    <!-- <ng-template #container></ng-template> -->
    <div class="form-wrapper" style="max-width: 1000px;">
        <div class="edit-delete-icon-div"
            [@visibilityChanged]="bCourseInfoLoaded && bAssignmentsLoaded ? 'shown' : 'hidden'" style="opacity: 0;">
            <i *ngIf="_globals.userInfo.isAdmin" class="fa fa-trash iconSize edit-delete-delete-icon"
                style="cursor: pointer;" (click)="deleteCourse()" matTooltip="{{'course.delCourse' | translate}}"></i>
            <i *ngIf="CourseData && CourseData.permission==2" class="fa fa-edit iconSize edit-delete-edit-icon"
                style="cursor: pointer;" (click)="editCourse()" matTooltip="{{'course.editCourse' | translate}}"></i>
        </div>
        <div class="course-overview-wrapper" [@headerAnimation]="showHeader ? 'shown' : 'hidden'"
            style="overflow: hidden;padding: 0;opacity: 0;">
            <!-- Display course info -->
            <div class="row tile-row">
                <div class="col-12 col-tile-outer">
                    <course-data [data]="CourseData" class="w-100" *ngIf="CourseData"></course-data>
                </div>
            </div>
        </div>

        <div class="row" style="position: relative;"
            [@visibilityChanged]="!bCourseInfoLoaded || !bAssignmentsLoaded ? 'shown' : 'hidden'"
            *ngIf="!bCourseInfoLoaded || !bAssignmentsLoaded">
            <div class="loader" style="opacity: 1;"></div>
        </div>
        <div [@visibilityChanged]="bCourseInfoLoaded && bAssignmentsLoaded ? 'shown' : 'hidden'" style="opacity: 0;">
            <mat-tab-group #tabGroup ([selectedIndex])="selected" (touchstart)="swipe($event, 'start')"
                (touchend)="swipe($event, 'end')" (selectedTabChange)="tabChanged($event)" class="tab-group">
                <mat-tab label="{{'course.Overview' | translate}}">
                    <ng-template matTabContent>
                        <course-overview [courseData]="data" *ngIf="CourseData" (tabId)="openPartList()"></course-overview>
                    </ng-template>
                </mat-tab>
                <mat-tab label="{{'course.partList' | translate}}" [disabled]="userStatusTable.data.length == 0">
                    <ng-template matTabContent>
                        <course-participants 
                            [courseData]="data" 
                            *ngIf="CourseData" 
                            (updateData)="updateData()">
                        </course-participants>
                    </ng-template>
                </mat-tab>
                <mat-tab [disabled]="!CourseData || CourseData.isScormCourse!=0 || CourseData.permission!=2"
                    label="{{'menu.Content' | translate}}">
                    <course-chapters [courseData]="data" *ngIf="CourseData"></course-chapters>
                </mat-tab>
                <mat-tab [disabled]="!CourseData || CourseData.isScormCourse!=0 || CourseData.permission!=2"
                    label="{{'menu.Test' | translate}}">
                    <course-tests [courseData]="data" *ngIf="CourseData"></course-tests>
                </mat-tab>
                <mat-tab label="{{'certificate.Certificate' | translate}}">
                    <!-- *ngIf="CourseData && CourseData.hasCertificate" -->
                    <mat-card-content>
                        <div style="padding: 20px;overflow: hidden;">
                            <div class="row ChapterList col-md-12 send-certificate"
                                *ngIf="CourseData && !CourseData.hasCertificate && CourseData.permission==2">
                                <!-- <button (click)="addCertificate()"
                                    class="form-control open-button">{{'certificate.New' | translate}}</button> -->
                                <button mat-stroked-button style="margin:auto;"
                                    (click)="addCertificate()">{{'certificate.New' | translate}}</button>
                            </div>
                            <div class="row" style="margin-top: 20px;text-align: center;font-size: large;"
                                *ngIf="CourseData && !CourseData.hasCertificate && CourseData.permission!=2">
                                <div style="width: 100%;">{{'certificate.NoCertificate' | translate}}</div>
                            </div>
                            <div class="loader" style="margin-top: 20px;"
                                [@openedChanged]="(CourseData && CourseData.hasCertificate && !certificateLoaded) ? 'shown' : 'hidden'"
                                *ngIf="CourseData && CourseData.hasCertificate && !certificateLoaded"></div>
                            <iframe *ngIf="bLoadCertificate && CourseData && CourseData.hasCertificate"
                                [@openedChanged]="(CourseData && CourseData.hasCertificate && certificateLoaded) ? 'shown' : 'hidden'"
                                class="certificate-frame" [src]="certificateUrl | safe" (load)="certificateLoadedCallback()"
                                style="opacity: 0;"></iframe>
                            <!-- <div class="row ChapterList col-md-12 send-certificate"
                                *ngIf="CourseData && CourseData.hasCertificate">
                                <button (click)="editCertificate()"
                                    class="form-control open-button">{{'certificate.Edit' | translate}}</button>
                            </div> -->
                            <div class="row ChapterList col-md-12 send-certificate"
                                *ngIf="CourseData && CourseData.hasCertificate && CourseData.permission==2">
                                <!-- <button (click)="editCertificate()"
                                    class="form-control open-button">{{'certificate.Edit' | translate}}</button>
                                <button (click)="deleteCertificate()"
                                    class="form-control open-button">{{'certificate.Delete' | translate}}</button> -->
                                <button mat-stroked-button color="warn" style="margin:auto;"
                                    (click)="deleteCertificate()">{{'certificate.Delete' | translate}}</button>
                                <button mat-stroked-button style="margin:auto;"
                                    (click)="editCertificate()">{{'certificate.Edit' | translate}}</button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-tab>
                <!-- <mat-tab [disabled]="CourseData == undefined || CourseData.isScormCourse!=0"
            label="{{'menu.Certificater' | translate}}">
            => Here comes the new certificate stuff <= </mat-tab> -->
                <!-- <mat-tab label="{{'course.Exams' | translate}}">
                Prüfungen
        </mat-tab>
        <mat-tab label="{{'dashboard.Certificates' | translate}}">
            Prüfungen
        </mat-tab>
        <mat-tab label="Feedback/Feed">
            Feedback und Feed Tab
        </mat-tab> -->
                <!-- <mat-tab label="{{'course.OwnCourses' | translate}}"></mat-tab>
        <mat-tab label="{{'course.ScormCourses' | translate}}"></mat-tab> -->
            </mat-tab-group>
        </div>
    </div>
    <!-- Generell:
    - Kursname ganz oben einfügen

    Übersicht:
    - Kursbeschreibung
    - Anzahl Teilnehmer (abgeschlossen/offen)
    - Durchschnittliches Prüfungsergebnis (der bisher abgeschlossenen TN)
    - Bild?

    Newsfeed für Kurs:
    - Ala Facebook

    Teilnehmerliste:
    - Option zum Anzeigen der Fortschrittdetails für jeden Mitarbeiter einfügen -->
<!-- </div> -->