<!-- <div class="row">
  <div class="col-lg-3 col-xs-6">
    <a routerLink="../../employee/message" [skipLocationChange]="false">
      <div class="small-box bg-green">
        <div class="inner">
          <h3>{{dataValue.message}}</h3>
          <p>{{'dashboard.NewMessages' | translate}}</p>
        </div>
        <div class="icon">
          <i class="fa fa-envelope-open" aria-hidden="true"></i>
        </div>
        <div class="small-box-footer">{{'dashboard.MoreInformations' | translate}}<i
            class="fa fa-arrow-circle-right"></i></div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-xs-6">
    <a routerLink="../../employee/course" [skipLocationChange]="false">
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>{{dataValue.course}}</h3>
          <p>{{'dashboard.Courses' | translate}}</p>
        </div>
        <div class="icon">
          <i class="fa fa-book" aria-hidden="true"></i>
        </div>
        <div class="small-box-footer">{{'dashboard.MoreInformations' | translate}}<i
            class="fa fa-arrow-circle-right"></i></div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-red">
      <div class="inner">
        <h3>{{dataValue.certificate}}</h3>
        <p>{{'dashboard.Certificates' | translate}}</p>
      </div>
      <div class="icon">
        <i class="fa fa-certificate" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="row pie-charts">
      <mat-card class="pie-chart-item-container col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-12" baCardClass="with-scroll">
        <mat-card-header>{{'dashboard.Deadlines' | translate}}</mat-card-header>
        <mat-card-content>
          <div class="pie-chart-item">

            <ba-chartist-chart baChartistChartClass="ct-chart stacked-bar" baChartistChartType="Pie"
              (onChartReady)="initPieChart($event)" [baChartistChartData]="data['simplePieData']"
              [baChartistChartOptions]="data['simplePieOptions']">

            </ba-chartist-chart>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="pie-chart-item-container col-xlg-8 col-lg-8 col-md-6 col-sm-12 col-12" baCardClass="with-scroll">
        <mat-card-header>{{'dashboard.AverageScore' | translate}}</mat-card-header>
        <mat-card-content>
          <div class="pie-chart-item">

            <ba-chartist-chart baChartistChartClass="ct-chart" baChartistChartType="Bar"
              (onChartReady)="initBarChart($event)" [baChartistChartData]="data['simpleBarData']"
              [baChartistChartOptions]="data['simpleBarOptions']">
            </ba-chartist-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div> -->