<form [formGroup]="EmpForm" class="row">
    <mat-card class="col-xlg-6 col-lg-6 col-md-6 col-sm-12 col-12" cardTitle="Personal" baCardClass="with-scroll">
        <mat-card-header>{{'trainer.AddTrainer' | translate}}</mat-card-header>
        <mat-card-content>
            <mat-grid-list cols="2" >
                <mat-grid-tile>
                    <ba-picture-uploader #companyImg [imageTitle]="strProfilePicture" [FileuploadInput] = "uploaderOptions"  (onUploadCompleted)="imgUpload($event)" (onUpload)="disableButton()" [picture]="profile" [defaultPicture]="defaultPicture" ></ba-picture-uploader>
                </mat-grid-tile>
                <mat-grid-tile>
                    <ba-picture-uploader   [imageTitle]="strSignature" [FileuploadInput] = "uploaderSignatureOptions" (onUploadCompleted)="SignatureImgUpload($event)" (onUpload)="disableButton()" [picture]="defaultBGPicture" [defaultPicture]="defaultBGPicture" ></ba-picture-uploader>
                </mat-grid-tile>
            </mat-grid-list>
           <div class="form-group">
                <input type="text" class="form-control" formControlName="FIRSTNAME" placeholder="{{'trainer.Name' | translate}}">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="LASTNAME"  placeholder="{{'trainer.Surname' | translate}}">
            </div>
            <div class="form-group">
                <input type="tel" class="form-control" formControlName="MOBILEPHONE" placeholder="{{'trainer.Phone' | translate}}">
            </div> 
            <div class="form-group">
                <input type="text" class="form-control" formControlName="Trainertitle" placeholder="{{'employees.Trainertitle' | translate}}">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="TrainerPostion" placeholder="{{'employees.TrainerPostion' | translate}}">
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="col-xlg-6 col-lg-6 col-md-6 col-sm-12 col-12" cardTitle="Business" baCardClass="with-scroll">
        <mat-card-header>{{'trainer.AddTrainer' | translate}}</mat-card-header>
        <mat-card-content>

            <select class="form-control" *ngIf="_globals.companyInfo.companyId==0"  (change)="loadDepartment($event.target.value)" placeholder="Comapny" formControlName="comapnyId" >
                <option value="" disabled selected>Company</option>
                <option *ngFor="let Comp of CompanyList;" value="{{Comp.companyId}}" >{{Comp.companyName}}</option>
            </select>

            <select class="form-control" placeholder="Geschlecht" formControlName="GENDER" >
                <option value="" disabled selected>{{'trainer.Select' | translate}}</option>
                <option  value="Male" >{{'trainer.Male' | translate}}</option>
                <option  value="Female" >{{'trainer.Female' | translate}}</option>
            </select>
            
            <div class="form-group">
                <input type="text" class="form-control" formControlName="empEdu" placeholder="{{'trainer.Title' | translate}}">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="EMAIL"  placeholder="{{'trainer.Email' | translate}}" >
            </div>
            <div class="form-group">
                <textarea class="form-control" formControlName="CURRENTADDRESS"  placeholder="{{'trainer.Address' | translate}}"></textarea>
            </div>
            
            <button [disabled]="!EmpForm.valid || DisableButton > 0"  (click)="saveEmpData()" type="button" class="btn btn-success">{{'confirm' | translate}}</button>
    
        </mat-card-content>
    </mat-card>
</form>