<div *ngIf="chapterData$ | async as chapterData;">
    <div [ngClass]="{'hide-tab': courseInfo.isScormCourse != 0 || courseInfo.permission != 2}">
        <div style="float: right;" (click)="addChapter()"
            matTooltip="{{'chapter.AddNewChapter' | translate}}" [matTooltipPosition]="'left'">
            <i class="fa fa-plus-circle iconSize" style="cursor: pointer;"></i>
        </div>

        <div *ngIf="dataSourceChapter.data.length == 0"
            style="padding: 1em;">
            {{'chapter.NoChapterFound' | translate}}
        </div>
        <div *ngIf="dataSourceChapter.data.length > 0">
            <table mat-table [dataSource]="dataSourceChapter" class="mat-elevation-z8">

                <!-- Position Column -->
                <ng-container matColumnDef="chapterId">
                    <th mat-header-cell *matHeaderCellDef>{{ 'chapter.chapterId' | translate }}</th>
                    <td mat-cell *matCellDef="let element">{{ element.chapterId }} </td>
                </ng-container>
                <!-- Position Column -->
                <ng-container matColumnDef="chapterName">
                    <th mat-header-cell *matHeaderCellDef>{{ 'chapter.Name' | translate }}</th>
                    <td mat-cell *matCellDef="let element">{{ element.chapterName }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let row">
                        <i *ngIf="row.is_offline!=2" class="fa fa-edit iconSize" (click)="editChapter(row)"
                            style="cursor: pointer;"></i>
                        <i *ngIf="row.is_offline!=2" class="fa fa-trash iconSize"
                            (click)="deleteChapter(row)" style="cursor: pointer;"></i>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsChapter"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsChapter;"></tr>
            </table>
            <mat-paginator #ContentPaginator [pageSizeOptions]="[5, 10, 20, 50, 100]" [pageSize]="50"
                showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>