<div class="form-wrapper">
    <div class="loader"
        [@visibilityChanged]="!(bLoaded && bCourseListLoaded && bGroupNameListLoaded && bEmpNameListLoaded) ? 'shown' : 'hidden'"
        *ngIf="!(bLoaded && bCourseListLoaded && bGroupNameListLoaded && bEmpNameListLoaded)"></div>
    <div class="content"
        [@visibilityChanged]="(bLoaded && bCourseListLoaded && bGroupNameListLoaded && bEmpNameListLoaded) ? 'shown' : 'hidden'">
        <div class="row tile-row">
            <div class="col-12 col-tile-outer">
                <div class="col-tile">
                    <div class="col-header">
                        <ng-container *ngIf="params.assId">
                            {{'course.EditAssignment' | translate}}
                        </ng-container>
                        <ng-container *ngIf="!params.assId">
                            {{'course.AddAssignment' | translate}}
                        </ng-container>
                    </div>
                    <div class="form-group col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-top: 40px;">
                        <ng-container *ngIf="!params.groupId && !params.userId && !params.departmentId">
                            {{'course.AddAssFor' | translate}}:
                            <mat-radio-group [(ngModel)]="assignmentType" class="example-radio-group"
                                [disabled]="params.groupId || params.userId || params.departmentId">
                                <mat-radio-button [value]="0">{{'course.Employee' | translate}}</mat-radio-button>
                                <mat-radio-button [value]="1">{{'course.Group' | translate}}</mat-radio-button>
                                <mat-radio-button [value]="2">{{'course.Department' | translate}}</mat-radio-button>
                            </mat-radio-group>
                        </ng-container>
                        <!-- Group -->
                        <div *ngIf="!params.assId && params.groupId && bGroupNameListLoaded" style="font-size: large;"
                            [innerHTML]="'assignment.CreateNewFor' | translate: {target: groupNameList[0].name}">
                        </div>
                        <div *ngIf="params.assId && params.groupId && bGroupNameListLoaded" style="font-size: large;"
                            [innerHTML]="'assignment.EditFor' | translate: {target: groupNameList[0].name}">
                        </div>
                        <!-- Department -->
                        <div *ngIf="!params.assId && params.departmentId && bGroupNameListLoaded"
                            style="font-size: large;"
                            [innerHTML]="'assignment.CreateNewFor' | translate: {target: groupNameList[0].departmentName}">
                        </div>
                        <div *ngIf="params.assId && params.departmentId && bGroupNameListLoaded"
                            style="font-size: large;"
                            [innerHTML]="'assignment.EditFor' | translate: {target: groupNameList[0].departmentName}">
                        </div>
                        <!-- User -->
                        <div *ngIf="!params.assId && params.userId && bEmpNameListLoaded" style="font-size: large;"
                            [innerHTML]="'assignment.CreateNewFor' | translate: {target: empNameList[0].FULLNAME}">
                        </div>
                        <div *ngIf="params.assId && params.userId && bEmpNameListLoaded" style="font-size: large;"
                            [innerHTML]="'assignment.EditFor' | translate: {target: empNameList[0].FULLNAME}">
                        </div>
                        <div *ngIf="!params.courseId">
                            <mat-form-field style="width: 100%;">
                                <mat-label>{{'assignment.SelectCourse' | translate}}*</mat-label>
                                <mat-select [(ngModel)]="selectedCourse">
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="courseSingleFilterCtrl"
                                            placeholderLabel="{{'course.FilterBy' | translate}}"
                                            noEntriesFoundLabel="{{'course.searchNoFound' | translate}}">
                                            <mat-icon ngxMatSelectSearchClear>close</mat-icon>
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let course of filteredCourseList | async"
                                        [value]="course.courseId">
                                        {{course.courseName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <mat-checkbox [(ngModel)]="bIsMandatory" [disabled]="bIsRecurring"
                            matTooltip="{{(bIsMandatory ? 'assignment.MandatoryExp' : 'assignment.VoluntaryExp') | translate}}">
                            {{'assignment.Mandatory' | translate}}</mat-checkbox>
                        <br>
                        <mat-checkbox [(ngModel)]="bIncludeSubDeps" *ngIf="params.departmentId">
                            {{'assignment.IncludeSubDeps' | translate}}</mat-checkbox>
                        <mat-form-field style="width: 100%;">
                            <mat-label>{{'course.StartDate' | translate}}*</mat-label>
                            <input matInput [matDatepicker]="pickerStart" (focus)="pickerStart.open()"
                                [formControl]="startDate">
                            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                            <mat-datepicker #pickerStart></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field [@openedChanged]="bIsMandatory ? 'shown' : 'hidden'"
                            style="overflow: hidden; width: 100%;">
                            <mat-label>{{'assignment.Time' | translate}}*</mat-label>
                            <input matInput type="number" min="1" [(ngModel)]="timeSpan">
                        </mat-form-field>
                        <mat-checkbox [(ngModel)]="bIsRecurring" [disabled]="!bIsMandatory">
                            {{'assignment.Recurring' | translate}}</mat-checkbox>
                        <div [@openedChanged]="bIsRecurring ? 'shown' : 'hidden'"
                            style="overflow: hidden;height: 0; margin: 0 10%;">
                            {{'assignment.RepeatEvery' | translate}}
                            <mat-form-field style="width: 50px;margin-right: 5px;text-align: right;">
                                <input matInput type="number" min="1" [(ngModel)]="recurringSpan">
                            </mat-form-field>
                            <mat-form-field style="width: 100px;">
                                <mat-select [(ngModel)]="recurringMY" (selectionChange)="onValueChange()">
                                    <mat-option value="year">{{'assignment.Years' | translate}}</mat-option>
                                    <mat-option value="month">{{'assignment.Months' | translate}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br>
                            <div *ngIf="params.groupId || params.departmentId">
                                <ng-container *ngIf="params.groupId">{{'assignment.CatchUpG' | translate}}...
                                </ng-container>
                                <ng-container *ngIf="params.departmentId">{{'assignment.CatchUpD' | translate}}...
                                </ng-container>
                                <mat-radio-group [(ngModel)]="bCatchUp" class="example-radio-group"
                                    style="padding-top: 10px;">
                                    <mat-radio-button [value]="false">...{{'assignment.NotCatchUpExp' | translate}}
                                    </mat-radio-button>
                                    <mat-radio-button [value]="true">...{{'assignment.CatchUpExp' | translate}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div *ngIf="params.userId">
                                {{'assignment.Priority' | translate}}:
                                <mat-radio-group [(ngModel)]="bForceSeries" class="example-radio-group"
                                    style="padding-top: 10px;">
                                    <mat-radio-button [value]="true">{{'assignment.TreatPriority' | translate}}
                                    </mat-radio-button>
                                    <mat-radio-button [value]="false">{{'assignment.TreatLikeOthers' | translate}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <mat-form-field *ngIf="params.userId">
                                <mat-label>{{'assignment.EndDate' | translate}}</mat-label>
                                <input matInput [matDatepicker]="pickerEnd" (focus)="pickerEnd.open()"
                                    [formControl]="endDate">
                                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                                <mat-datepicker #pickerEnd></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <mat-form-field *ngIf="!params.userId" style="width: 100%;">
                            <mat-label>{{'assignment.SetCourseEndDate' | translate}}</mat-label>
                            <input matInput [matDatepicker]="pickerEnd" (focus)="pickerEnd.open()"
                                [formControl]="endDate">
                            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                            <mat-datepicker #pickerEnd></mat-datepicker>
                        </mat-form-field>
                        <!-- <mat-form-field style="width: 100%">
                            <mat-select placeholder="{{'group.SelectCategory' | translate}}" multiple
                                formControlName="categories">
                                <mat-option *ngFor="let category of categoryList" [value]="category.categoryId"
                                    style="width: auto;"
                                    [ngStyle]="{'background-image':'-webkit-gradient(linear, right top, left top, color-stop(0%,'+category.color+'), color-stop(100%,rgba(255,255,255,0)))'}">
                                    {{category.name}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field> -->
                    </div>
                    <!-- <div class="row ChapterList col-md-12 send-certificate" style="padding-top: 10px">
                            <button (click)="addCourse()"
                                class="form-control open-button open-button-active">{{'course.AddAssignment' | translate}}...</button>
                        </div> -->
                    <!-- <button [disabled]="!checkValid()" [style.cursor]="checkValid() ? 'pointer' : 'initial'"
                        style="float: right;margin-right: 20px" (click)="saveAssignment()" type="button"
                        class="btn btn-success">{{'confirm' | translate}}</button>
                    <button style="float: right;margin-right: 15px" (click)="cancel()" type="button"
                        class="btn btn-success">{{'cancel' | translate}}</button> -->
                    <button mat-stroked-button [disabled]="!checkValid()" style="float: right;top: 30px;"
                        (click)="saveAssignment()">{{'save'|translate}}</button>
                    <button mat-stroked-button color="warn" style="float: right;margin-right: 10px;top: 30px;"
                        (click)="cancel()">{{'cancel'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>