<div class="addIcon" (click)="addCompany()">
    <i class="fa fa-user-plus iconSize"></i>
</div>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="epath">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element">
            <img *ngIf="element.epath" src="{{_globals.adminURL}}/{{element.webUrl}}/API/img/Employee/{{element.epath}}"
                style="width: 100px;" />
        </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="EmpName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.FIRSTNAME}} {{element.LASTNAME}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="departmentName">
        <th mat-header-cell *matHeaderCellDef> Department Name </th>
        <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef> Company </th>
        <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="MOBILEPHONE">
        <th mat-header-cell *matHeaderCellDef> Phone No. </th>
        <td mat-cell *matCellDef="let element"> {{element.MOBILEPHONE}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let row">
            <i class="fa fa-edit iconSize" (click)="editCompany(row)"></i>
            <i class="fa fa-trash iconSize" (click)="deleteCompany(row)"></i>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" [pageSize]="50" showFirstLastButtons></mat-paginator>