.correct-answer {
  background-color: #8bd22f;
}
.answer-label {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

table {
    width: 100%;
}
  
.mat-form-field {
  font-size: 14px;
  width: 100%;
}