<div class="course-overview-wrapper">
    <div class="warning-error-label error-label" *ngIf="courseUsersOverdue > 0">
        <div>
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <ng-container *ngIf="courseUsersOverdue == 1">
                {{courseUsersOverdue}} {{'course.OverdueSingle' | translate}}
            </ng-container>
            <ng-container *ngIf="courseUsersOverdue > 1">
                {{courseUsersOverdue}} {{'course.OverdueMultiple' | translate}}
            </ng-container>
        </div>
    </div>
    <div class="warning-error-label warning-label" *ngIf="courseUsersOpen > 0">
        <div>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <ng-container *ngIf="courseUsersOpen == 1">
                {{courseUsersOpen}} {{'course.CurrentSingle' | translate}}
            </ng-container>
            <ng-container *ngIf="courseUsersOpen > 1">
                {{courseUsersOpen}} {{'course.CurrentMultiple' | translate}}
            </ng-container>
        </div>
    </div>
    <!-- New Table -->
    <!-- Issue regarding filtering:
        ShowApply/ShowClearButton are currently not working in ng-prime, see:
        https://github.com/primefaces/primeng/issues/9654
    -->
    <div class="row">
        <div class="col">
            <p-table [value]="tableData" dataKey="id" class="mt-2"
                [paginator]="true" [rows]="10" 
                [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
                currentPageReportTemplate="{{ 'employees.TablePageInfo' | translate }}"
                (onFilter)="onFiltered($event)">
                <ng-template pTemplate="caption">
                    <div class="ui-helper-clearfix" style="text-align: left">
                        <i class="fa fa-file-pdf-o clickable"
                            matTooltip="{{'course.ExportPdf' | translate }}"
                            (click)="exportPdf()">
                        </i>
                        <i class="fa fa-file-code-o clickable ml-2"
                            matTooltip="{{'course.ExportCsv' | translate }}"
                            (click)="exportCsv()">
                        </i>
                        <i class="fa fa-file-excel-o clickable ml-2"
                            matTooltip="{{'course.ExportExcel' | translate }}"
                            (click)="exportExcel()">
                        </i>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="courseStatus" class="width-7" colspan="2">
                            {{'employees.St' | translate}}<p-sortIcon field="courseStatus"></p-sortIcon>
                            <p-columnFilter field="courseStatus" matchMode="equals" display="menu" 
                                [showOperator]="false" [showAddButton]="false" [showMatchModes]="false"
                                [showClearButton]="false" [showApplyButton]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" 
                                        placeholder="Any" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span>{{ option.label }}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th pSortableColumn="lastName">
                            {{'location.Name' | translate}}<p-sortIcon field="lastName"></p-sortIcon>
                            <p-columnFilter type="text" matchMode="contains" field="lastName" display="menu"
                                [showOperator]="false" [showAddButton]="false" [showMatchModes]="false"
                                [showClearButton]="false" [showApplyButton]="false">
                            </p-columnFilter>
                        </th>
                        <th>
                            {{'employees.Department' | translate}}
                            <p-columnFilter type="text" matchMode="contains" field="departments" display="menu" [matchMode]="'arrayFilter'" 
                                [showOperator]="false" [showAddButton]="false" [showMatchModes]="false"
                                [showClearButton]="false" [showApplyButton]="false">
                                <ng-template pTemplate="filter" let-name let-filter="filterCallback">
                                    <p-multiSelect [ngModel]="value" [options]="availableDepartments" display="chip" [showHeader]="false"
                                        (onChange)="filter($event.value)" optionLabel="name">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span class="p-ml-1">{{option.name}}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                             </p-columnFilter>
                        </th>
                        <th>
                            {{'course.Group' | translate}}
                            <p-columnFilter type="text" matchMode="contains" field="groups" display="menu" [matchMode]="'arrayFilter'" 
                                [showOperator]="false" [showAddButton]="false" [showMatchModes]="false"
                                [showClearButton]="false" [showApplyButton]="false">
                                <ng-template pTemplate="filter" let-name let-filter="filterCallback">
                                    <p-multiSelect [ngModel]="value" [options]="availableGroups" display="chip" [showHeader]="false"
                                        (onChange)="filter($event.value)" optionLabel="name">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span class="p-ml-1">{{option.name}}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                             </p-columnFilter>
                        </th>
                        <!-- <th pSortableColumn="firstName">
                            {{'employees.Name' | translate}}<p-sortIcon field="firstName"></p-sortIcon>
                            <p-columnFilter type="text" matchMode="contains" field="firstName" display="menu"
                                [showOperator]="false" [showAddButton]="false" [showMatchModes]="false"
                                [showClearButton]="false" [showApplyButton]="false">
                            </p-columnFilter>
                        </th> -->
                        <th pSortableColumn="finished" class="d-none d-lg-table-cell">
                            {{'course.LastFinished' | translate}}<p-sortIcon field="finished"></p-sortIcon>
                            <p-columnFilter type="date" matchMode="contains" field="finished" display="menu"
                                [showOperator]="false" [showAddButton]="false"
                                [showClearButton]="false" [showApplyButton]="false">
                            </p-columnFilter>
                        </th>
                        <th class="width-3">
                            <!-- empty for passing users -->
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-participant let-expanded="expanded">
                    <tr>
                        <td class="width-3">
                            <i *ngIf="!expanded" class="fa fa-chevron-right clickable" [pRowToggler]="participant"></i>
                            <i *ngIf="expanded" class="fa fa-chevron-down clickable" [pRowToggler]="participant"></i>
                        </td>
                        <td class="cell-status-wrapper">
                            <div class="status-div" [style.width]="userInfo.UserType > 2 ? '25px' : '51px'">
                                <div class="status-div-inner-left"
                                    [ngClass]="{'status-done': participant.courseStatus==1, 'status-current': participant.courseStatus==0, 'status-overdue': participant.courseStatus==-1}">
                                    <i class="fa fa-book fa-lg center-icon"
                                        aria-hidden="true"
                                        matTooltip="{{'group.CourseState' | translate}}"></i>
                                </div>
                                <div *ngIf="2 >= userInfo.UserType"
                                    class="status-div-inner-right"
                                    [ngClass]="{'status-done': participant.globalStatus==1, 'status-current': participant.globalStatus==0, 'status-overdue': participant.globalStatus==-1}">
                                    <i class="fa fa-user fa-lg center-icon"
                                        matTooltip="{{'group.GlobalState' | translate}}"
                                        aria-hidden="true"></i>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="userInfo.isAdmin" class="clickable"
                                routerLink="../../../../employees/{{participant.id}}"
                                [skipLocationChange]="false"
                                [matTooltip]="'openVar' | translate: {var: participant.fullName}">
                                    {{ participant.lastName }} {{ participant.firstName }}
                            </div>
                            <div *ngIf="!userInfo.isAdmin">
                                {{ participant.lastName }} {{ participant.firstName }}
                            </div>
                        </td>
                        <td>
                            <span *ngFor="let dep of participant.departments; let last = last;">
                                <small>{{ dep.name }}</small>
                                <small *ngIf="!last">, </small>
                            </span>
                        </td>
                        <td>
                            <span *ngFor="let group of participant.groups; let last = last;">
                                <small>{{ group.name }}</small>
                                <small *ngIf="!last">, </small>
                            </span>
                        </td>
                        <!-- <td>
                            <div *ngIf="userInfo.isAdmin" class="clickable"
                                routerLink="../../../../employees/{{participant.id}}"
                                [skipLocationChange]="false"
                                [matTooltip]="'openVar' | translate: { var: participant.fullName }">
                                    {{ participant.firstName }}
                            </div>
                            <div *ngIf="!userInfo.isAdmin">
                                {{ participant.firstName }}
                            </div>
                        </td> -->
                        <td class="d-none d-lg-table-cell">
                            {{ participant.finished | date:'dd.MM.yyyy' }}
                        </td>
                        <td>
                            <i *ngIf="participant.courseStatus != 1 && (userInfo.isAdmin || courseInfo.permission==2)"
                                class="fa fa-angle-double-right iconSize float-right forward-user-icon"
                                (click)="passUser(participant)"
                                [matTooltip]="'course.PassEmp' | translate: {course: courseInfo.courseName, name: participant.fullName}">
                            </i>
                        </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-participant>
                    <tr>
                        <td class="d-none d-lg-table-cell" colspan="6">
                            <ng-container *ngTemplateOutlet="dropdownContent; context : {participant:participant}">
                            </ng-container>
                        </td>
                        <td class="d-lg-none" colspan="5">
                            <ng-container *ngTemplateOutlet="dropdownContent; context : {participant:participant}">
                            </ng-container>
                        </td>
                    </tr>
                </ng-template>
              </p-table>
        </div>
    </div>

    <ng-template #dropdownContent let-participant="participant">
        <div class="d-flex">
            <div class="flex-grow-1">
                <small>{{ 'employees.Email' | translate }} 
                    <a [href]="'mailto:' + participant.email" target="_blank"
                        [matTooltip]="'sendMailTo' | translate: { recipient: participant.fullName }">{{ participant.email }}</a>
                </small>
                <br/>
                <small *ngIf="participant.departments.length > 0">{{ 'menu.Departments' | translate }}: </small>
                <span *ngFor="let dep of participant.departments; let last = last;">
                    <small>{{ dep.name }}</small>
                    <small *ngIf="!last">, </small>
                </span>
                <br/>
                <small *ngIf="participant.groups.length > 0">{{ 'menu.Groups' | translate }}: </small>
                <span *ngFor="let group of participant.groups; let last = last;">
                    <small>{{ group.name }}</small>
                    <small *ngIf="!last">, </small>
                </span>
            </div>
        </div>
    </ng-template>
</div>

<!-- <pre>{{ availableDepartments | json }} </pre> -->