<ng-template #container></ng-template>
<div *ngIf="!bLoading" class="Classaddempy top-icons" (click)="addCompany()">
    <i class="fa fa-user-plus iconSize" matTooltip="{{'employees.Add' | translate}}"></i>
</div>
<div *ngIf="!bLoading" class="Classaddempy top-icons" style="right: 90px;" (click)="uploadEmp()">
    <i class="fa fa-cloud-upload iconSize" matTooltip="{{'employees.UploadEmp' | translate}}"></i>
    <input type="file" accept=".xlsx" #fileUpload style="display: none;" (change)="handleFileInput($event.target.files)"
        name="myFile">
</div>
<div *ngIf="!bLoading" class="Classaddempy top-icons" style="right: 132px;" (click)="downloadTemplate()">
    <i class="fa fa-cloud-download iconSize" matTooltip="{{'employees.DownloadTemplate' | translate}}"></i>
</div>
<div class="Classaddempy top-icons" style="right: 190px;" (click)="syncUsers()" *ngIf="!bLoading &&_globals.bConnectAd">
    <i class="fa fa-exchange iconSize" matTooltip="{{'employees.SyncUsers' | translate}}"></i>
</div>

<div>
    <div class="form-wrapper" style="position: relative;max-width: 1000px;">
        <mat-form-field style="padding-left: 50px; padding-right: 50px;">
            <mat-select placeholder="{{'employees.ShowEmp' | translate}}" [(ngModel)]="_globals.empFilter"
                (selectionChange)="onEmpViewChange($event)" [disabled]="bLoading">
                <mat-option [value]="'active'">{{'employees.Active' | translate}}</mat-option>
                <mat-option [value]="'all'">{{'employees.All' | translate}}</mat-option>
                <mat-option [value]="'inactive'">{{'employees.Inactive' | translate}}</mat-option>
            </mat-select>
        </mat-form-field>
        <hr>
        <div class="loader" [@visibilityChanged]="bLoading ? 'shown' : 'hidden'" *ngIf="bLoading"></div>
        <div class="content" [@visibilityChanged]="bListView && !bLoading ? 'shown' : 'hidden'">
            <mat-form-field style="width: 40%;min-width:300px;float: right;" *ngIf="employeeList.data.length > 0">
                <mat-label>{{'employees.SearchEmp' | translate}}</mat-label>
                <input matInput (keyup)="applyEmpFilter($event)" placeholder="">
            </mat-form-field>
            <div style="width: 100%;overflow: auto;">
                <table mat-table [dataSource]="employeeList" class="mat-elevation-z8" matSort matSortActive="LASTNAME"
                    matSortDirection="asc">
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 5px;">
                            <div matTooltip="{{'employees.Status' | translate}}">{{'employees.St' | translate}}</div>
                        </th>
                        <td mat-cell *matCellDef="let emp" class="cell-status-wrapper" style="width: 25px;">
                            <div class="status-div" style="width: 25px;">
                                <div class="status-div-inner-left"
                                    [ngClass]="{'status-done': emp.status==1, 'status-current': emp.status==0, 'status-overdue': emp.status==-1}">
                                    <i class="fa fa-user fa-lg center-icon" aria-hidden="true"
                                        matTooltip="{{'course.State' | translate}}"></i>
                                </div>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="LASTNAME">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 10px;">
                            {{'employees.Surname' | translate}}</th>
                        <td (click)="viewEmp(emp)" matTooltip="{{emp.FULLNAME}}"
                            style="cursor: pointer;padding-left: 10px;" mat-cell *matCellDef="let emp">
                            <b>{{emp.LASTNAME}}</b>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="FIRSTNAME">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 10px;">
                            {{'employees.Name' | translate}}</th>
                        <td (click)="viewEmp(emp)" matTooltip="{{emp.FULLNAME}}"
                            style="cursor: pointer;padding-left: 10px;" mat-cell *matCellDef="let emp"
                            [attr.colspan]="bEmpEntriesFound ? 1 : 8">
                            <b>{{emp.FIRSTNAME}}</b>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="admin">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>TODO</th>
                        <td mat-cell *matCellDef="let emp"></td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'employees.Email' | translate}}</th>
                        <td mat-cell *matCellDef="let emp">
                            <a *ngIf="emp && emp.EmailID && emp.EmailID != ''" [href]="'mailto:' + emp.EmailID"
                                target="_blank"
                                [matTooltip]="'sendMailTo' | translate: {recipient: emp.FIRSTNAME}">{{emp.EmailID}}</a>
                            <ng-container *ngIf="emp && emp.EmailID && emp.EmailID == ''">-</ng-container>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="groups">
                        <th mat-header-cell *matHeaderCellDef>{{'group.Groups' | translate}}</th>
                        <!-- <td mat-cell *matCellDef="let emp" [innerHTML]="emp.printGroups()"></td> -->
                        <td mat-cell *matCellDef="let emp">
                            <ng-container *ngFor="let group of emp.groups; index as i;">
                                <a routerLink="../../groups/{{group.groupId}}" [skipLocationChange]="false"
                                    [matTooltip]="'openVar' | translate: {var: group.name}">{{group.name}}</a>
                                <br *ngIf="emp.groups.length - 1 > i">
                            </ng-container>
                            <ng-container *ngIf="emp.groups.length == 0">-</ng-container>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="departments">
                        <th mat-header-cell *matHeaderCellDef>{{'menu.Departments' | translate}}</th>
                        <td mat-cell *matCellDef="let emp">
                            <ng-container *ngFor="let dep of emp.departments; index as i;">
                                <a routerLink="../../department/{{dep.departmentId}}" [skipLocationChange]="false"
                                    [matTooltip]="'openVar' | translate: {var: dep.departmentName}">{{dep.departmentName}}</a>
                                <br *ngIf="emp.departments.length - 1 > i">
                            </ng-container>
                            <ng-container *ngIf="emp.departments.length == 0">-</ng-container>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="editDelete">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let emp" style="min-width: 90px;padding: 0px;">
                            <i class="fa fa-trash iconSize float-right edit-delete-delete-icon"
                                [style.cursor]="emp.self ? 'not-allowed' : 'pointer'"
                                [style.color]="emp.self ? 'lightgrey' : ''" (click)="!emp.self && deleteEmp(emp.empId)"
                                matTooltip="{{(emp.self ? 'employees.NoSelfDel' : 'employees.Delete') | translate}}"
                                *ngIf="emp.ADUser=='0'"></i>
                            <i class="fa fa-edit iconSize float-right edit-delete-edit-icon" style="cursor: pointer;"
                                (click)="editEmp(emp)" matTooltip="{{'employees.Edit' | translate}}"></i>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="group-row">
                    </tr>
                    <!-- <tr mat-row *matRowDef="let row; columns: ['name'] when isExtendedRow" class="darken"></tr> -->
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" [pageSize]="10" showFirstLastButtons
                (page)="pageChanged($event)">
            </mat-paginator>
        </div>
    </div>
</div>