<div class="form-wrapper">
    <div class="edit-delete-icon-div" [@visibilityChanged]="!bLoading ? 'shown' : 'hidden'" style="opacity: 0;">
        <i *ngIf="_globals.userInfo.isAdmin || currentDep != departmentId"
            class="fa fa-trash iconSize edit-delete-delete-icon" style="cursor: pointer;" (click)="deleteDepartment()"
            matTooltip="{{'department.DelDep' | translate}}"></i>
        <i class="fa fa-edit iconSize edit-delete-edit-icon" style="cursor: pointer;" (click)="openEditView()"
            matTooltip="{{'department.Edit' | translate}}"></i>
    </div>
    <div class="loader" [@visibilityChanged]="bLoading ? 'shown' : 'hidden'" *ngIf="bLoading"></div>
    <div class="content" [@visibilityChanged]="!bLoading ? 'shown' : 'hidden'">
        <!-- <div class="row tile-row">
            <div class="col-xl-6 col-lg-12 col-tile-outer">
                <div class="col-tile">
                    <div class="col-header">{{'group.GroupData' | translate}}</div>
                    <div class="col-text">
                        <table class="info-table">
                            <tr>
                                <td><b>ASDF:</b></td>
                                <td>JKLÖ</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-tile-outer">
                <div class="col-tile">
                    <div class="col-header">{{'group.GroupMember' | translate}}</div>
                    <div class="col-text">
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row tile-row">
            <div class="col-12 col-tile-outer">
                <mui-org-chart class="dep-chart" (wheel)="onWheel($event)" [topEmployee]="overviewDep"
                    direction="horizontal" (itemClick)="itemClicked($event)">
                </mui-org-chart>
            </div>
        </div>
        <hr>
        <app-view-group [updateGroup]="groupChildEventsSubject.asObservable()" [isDepartment]="true"
            (onUpdateDepartmentStatus)="updateStatus()"></app-view-group>
    </div>
</div>