<div class="mt-4"></div>
<form [formGroup]="questionnaireForm">
    <mat-accordion>
        <ng-container formArrayName="questions">
            <ng-container *ngFor="let questionControls of questions.controls; index as i" [formGroupName]="i">
                <mat-expansion-panel [expanded]="openedQuestion === i">
                    <mat-expansion-panel-header>
                        {{ questionControls.get('text').value }}
                    </mat-expansion-panel-header>
                        <mat-form-field style="width: 100%;">
                            <input matInput type="text" formControlName="text" maxlength="100"
                                placeholder="{{'question.Question' | translate}}*">
                        </mat-form-field>
                        <ng-container formArrayName="answers">
                            <ng-container *ngFor="let answerControls of answersForQuestion(i).controls; index as j" [formGroupName]="j">
                                <mat-form-field style="width: 60%;" class="mr-2">
                                    <input matInput type="text" formControlName="text" maxlength="100"
                                        placeholder="{{'question.PossibleAnswer' | translate}}*">
                                </mat-form-field>
                                
                                <mat-checkbox formControlName="isCorrect">{{'question.CorrectAnswer' | translate}}</mat-checkbox>
                            </ng-container>
                        </ng-container>
                        <div class="row mt-4">
                            <div class="col-8">
                                <mat-error *ngIf="answersForQuestion(i).getError('atLeastOneCorrectRequired')">
                                    {{'question.AtLeastOneCorrectRequired' | translate}}
                                </mat-error>
                            </div>
                            <div class="col-4">
                                <button mat-stroked-button 
                                    (click)="addAnswer(i)">
                                    <i class="fa fa-plus mr-2"></i>{{'question.AddOption' | translate}}
                                </button>
                            </div>
                        </div>
                        

                </mat-expansion-panel>
            </ng-container>
        </ng-container>
    </mat-accordion>
    <div class="d-flex justify-content-end">
        <button mat-stroked-button class="mt-4" 
            (click)="createQuestion(i)">
            <i class="fa fa-plus mr-2"></i>{{'question.NewQuestion' | translate}}
        </button>
    </div>
</form>

<!-- <mat-hint *ngIf="EmpForm.get('minResult').value < 10" class="warning">
    {{'course.MinResTooLowWarning' | translate}}
</mat-hint> -->
