<div class="mt-4"></div>
<form [formGroup]="form">
    <mat-accordion>
        <ng-container formArrayName="questions">
            <ng-container *ngFor="let questionControls of questions.controls; index as i" [formGroupName]="i">
                <mat-expansion-panel [expanded]="openedQuestion === i">
                    <mat-expansion-panel-header>
                        {{ questionControls.get('text').value }}
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-3">
                            <image-chooser (imageChanged)="questionImageChanged(i, $event)"></image-chooser>
                        </div>
                        <mat-form-field class="col-9">
                            <textarea matInput type="text" formControlName="text"
                                cdkTextareaAutosize
                                cdkAutosizeMinRows="5"
                                placeholder="{{'question.Question' | translate}}*"></textarea>
                        </mat-form-field>
                    </div>
                    <hr/>
                    <ng-container formArrayName="answers">
                        <ng-container *ngFor="let answerControls of answersForQuestion(i).controls; index as j" [formGroupName]="j">
                            <div class="row mt-4">
                                <div class="col-3">
                                    <image-chooser (imageChanged)="answerImageChanged(i, j, $event)"></image-chooser>
                                </div>
                                <span class="col-9">
                                    <div>
                                        <mat-form-field class="w-100">
                                            <textarea matInput type="text" formControlName="text"
                                                cdkTextareaAutosize 
                                                placeholder="{{'question.PossibleAnswer' | translate}}*"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <mat-checkbox class="float-right" 
                                            formControlName="isCorrect">{{'question.CorrectAnswer' | translate}}
                                        </mat-checkbox>
                                    </div>
                                </span>
                            </div>
                        </ng-container>
                    </ng-container>
                    <div class="row mt-4">
                        <div class="col-8">
                            <mat-error *ngIf="answersForQuestion(i).getError('atLeastOneCorrectRequired')">
                                {{'question.AtLeastOneCorrectRequired' | translate}}
                            </mat-error>
                        </div>
                        <div class="col-4">
                            <button mat-stroked-button 
                                (click)="addAnswer(i)">
                                <i class="fa fa-plus mr-2"></i>{{'question.AddOption' | translate}}
                            </button>
                        </div>
                    </div>
                </mat-expansion-panel>
            </ng-container>
        </ng-container>
    </mat-accordion>
    <div class="d-flex justify-content-end">
        <button mat-stroked-button class="mt-4" 
            (click)="createQuestion(i)">
            <i class="fa fa-plus mr-2"></i>{{'question.NewQuestion' | translate}}
        </button>
    </div>
</form>