@import '../../theme/sass/treeView';

.timer-class-green {
    background-color: #8bd22f;
    padding: 10px;
    border-radius: 10px;
}
.timer-class-yellow {
    background-color: #e7ba08;
    padding: 10px;
    border-radius: 10px;
}
.timer-class-red {
    background-color: #f95372;
    padding: 10px;
    border-radius: 10px;
}