<div class="pages-wrap" style="overflow: hidden;">
    <pages-top [showMenuIcon]=false></pages-top>
    <div class="pages-body pages-body-exam" style="width: 100%;">
        <div class="pages-content">
            <div style="color: #000;width: 100%;">
                <div class="timer-wrapper">
                    <b *ngIf="totalTime > 0 && currentChpInfo.duration >= (totalTime/10*3)"
                        class="timer-class-green">{{time}}</b>
                    <b *ngIf="totalTime > 0 && (totalTime/10*3) > currentChpInfo.duration && currentChpInfo.duration >= (totalTime/10)"
                        class="timer-class-yellow">{{time}}</b>
                    <b *ngIf="totalTime > 0 && (totalTime/10) > currentChpInfo.duration"
                        class="timer-class-red">{{time}}</b>
                </div>
                <div class="question-box" *ngIf="selectIndex">
                    <span>{{'question.Question' | translate}} {{indexNo+1}}/{{QustionList.length}}: </span>
                    <div class="container question-box-question">
                        <div class="row">
                            <div *ngIf="selectIndex.QuestionImg && selectIndex.QuestionImg!='null'"
                                class="col-12 col-md-4 q-image-container">
                                <img onerror="this.src='assets/img/logoakt.png'" class="question-image"
                                    src="{{_globals.WebURL}}/{{selectIndex.QuestionImg}}" />
                            </div>
                            <div [ngClass]="{'col-md-8': selectIndex.QuestionImg && selectIndex.QuestionImg!='null'}"
                                class="col-12">
                                {{selectIndex.Question}}
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="myForm">
                        <div *ngIf="selectIndex.AnsList" formArrayName="Ans" role="group"
                            class="row justify-content-center d-flex answer-box">
                            <div *ngFor="let item of selectIndex.AnsList;index as i;" [formGroupName]="i"
                                class="answer-option p-2 align-self-end col-12 col-md-6 col-lg-4"
                                [style.background-color]="getAnswerBackground(item.isAns)">
                                <mat-checkbox class="col-12" formControlName="SelectIndex">
                                    <div class="col-12">
                                        <img *ngIf="item.optionImg && item.optionImg!=null && item.optionImg!=''"
                                            onerror="this.src='assets/img/logoakt.png'" class="row option-image"
                                            src="{{_globals.WebURL}}/{{item.optionImg}}" />
                                        <span
                                            class="col align-self-center option-text">{{item.QuestionOptionName}}</span>
                                    </div>
                                </mat-checkbox>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div style="height: 95px;text-align: center;">
                <button mat-stroked-button class="nav-button" *ngIf="indexNo!=0" (click)="BackQus()">{{'question.Back' |
                    translate}}</button>
                <button mat-stroked-button class="nav-button" *ngIf="indexNo!=QustionList.length-1"
                    (click)="NextQus()">{{'question.Next' | translate}}</button>
                <button mat-stroked-button class="nav-button" [disabled]="isDisable"
                    *ngIf="indexNo==QustionList.length-1" (click)="SubmitQus()">{{'question.Submit' |
                    translate}}</button>
            </div>
        </div>
    </div>
</div>