.upload-handle {
    display : none;
}

img {
    opacity : 1;
    display : block;
    transition : .5s ease;
    backface-visibility: hidden;
    max-width: 100%;
    max-height: 100%;
    margin : 0 auto;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    top: 50%;
    left: 50%;
    position : absolute;
    transform: translate(-50%, -50%);
    -ms-transform : translate(-50%, -50%);
    text-align: center;
    pointer-events: none;
}

.container {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.container:hover img {
    opacity:  0.7;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    background-color: grey;
    color: white;
    font-size : 12px;
    padding: 16px 32px;
    border-radius: 5%;
}