<div class="pages-wrap" style="opacity: 0;overflow: hidden;" [@visibilityChanged]="fadeIn ? 'shown' : 'hidden'">
    <pages-top></pages-top>
    <div class="pages-body pages-body-exam">
        <sidebar class="sidebar-exam" [menuInfo]="PAGES_Sub_MENU" [style.height]="Divheight"></sidebar>
        <div class="pages-content" [style.width]="DivWidth">
            <content-top></content-top>
            <div>
                <div style="width: 100%;">
                    <div class="question-box" *ngIf="selectIndex">
                        <span>{{'question.Question' | translate}} {{indexNo+1}}/{{QustionList.length}}: </span>
                        <div class="container question-box-question">
                            <div class="row">
                                <div *ngIf="selectIndex.hasImage" class="col-12 col-md-4 q-image-container">
                                    <img onerror="this.src='assets/img/logoakt.png'" class="question-image"
                                        src="{{_globals.WebURL}}/{{selectIndex.QuestionImg}}" />
                                </div>
                                <div [ngClass]="{'col-md-8': selectIndex.hasImage}" class="col-12">
                                    {{selectIndex.Question}}
                                </div>
                            </div>
                        </div>
                        <form [formGroup]="myForm">
                            <div *ngIf="selectIndex.AnsList" formArrayName="Ans" role="group"
                                class="row justify-content-center d-flex answer-box">
                                <div *ngFor="let item of selectIndex.AnsList;index as i;" [formGroupName]="i"
                                    class="answer-option p-2 align-self-end col-12 col-md-6 col-lg-4"
                                    [style.background-color]="getAnswerBackground(item.isAns)">
                                    <mat-checkbox class="col-12" formControlName="SelectIndex">
                                        <div class="col-12">
                                            <img *ngIf="item.optionImg && item.optionImg!=null && item.optionImg!=''"
                                                onerror="this.src='assets/img/logoakt.png'" class="row option-image"
                                                src="{{_globals.WebURL}}/{{item.optionImg}}" />
                                            <span
                                                class="col align-self-center option-text">{{item.QuestionOptionName}}</span>
                                        </div>
                                    </mat-checkbox>
                                </div>
                            </div>
                        </form>
                        <div *ngIf="QustionList[indexNo].isAns && selectIndex.Explanation && selectIndex.Explanation!=''"
                            class="row justify-content-center" style="height: 0;">
                            <button mat-mini-fab color="primary" #tooltip="matTooltip" (click)="tooltip.toggle()"
                                [matTooltip]="selectIndex.Explanation" [matTooltipPosition]="'above'">
                                <mat-icon>info</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div style="height: 95px;text-align: center;">
                    <button mat-stroked-button class="nav-button" *ngIf="indexNo!=0"
                        (click)="BackQus()">{{'question.Back' | translate}}</button>
                    <button mat-stroked-button class="nav-button" (click)="onCorrectAnswer()"
                        [disabled]="QustionList[indexNo] && QustionList[indexNo].isAns">{{'question.CorrectAnswers' |
                        translate}}</button>
                    <button mat-stroked-button class="nav-button" *ngIf="indexNo!=QustionList.length-1"
                        (click)="NextQus()">{{'question.Next' | translate}}</button>
                    <button mat-stroked-button class="nav-button" *ngIf="indexNo==QustionList.length-1"
                        (click)="SubmitQus()">{{'question.Submit' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>